<div class="container-fluid main">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1 class="text-light">Add Workout</h1>

            <%= form_for(@workout) do |f| %>
            <div class="form-group">
                <%= render 'shared/error_messages', :@profile => @workout %>

                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class: 'form-control'%>

                <%= f.label :exercise %>
                <%= f.select :exercises, Exercise.all.collect{|exercise|[exercise.name, exercise.id]}, {}, {:class => 'form-control'}%>

                <span class="text-danger my-2 d-block">
                    <button class="btn-danger" disabled>dropdown select Sets 1-100</button>
                    <button class="btn-danger" disabled>dropdown select Reps 1-100</button>
                </span>
                <span class="text-danger d-block my-2">
                    <button class="btn-danger " disabled>Add Exercise</button>
                </span>
                <span class="text-danger d-block my-2">
                    <button class="btn-danger " disabled>Remove Exercise</button>
                </span>   
                <button class="btn-danger d-block" disabled>Reset</button>
                <%= f.submit "Create workout", class: "btn btn-warning my-2" %>
                <% end %>
            </div>
        </div>
    </div>
</div>