<div class="container-fluid main pb-5 mb-5">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1><%= @workout.name %></h1>

            <span class="d-block" style="border:2px solid white">
                Exercise: 
                <span class="text-light">
                    <span class="text-danger ">(weight when added)/sets/reps +/-</span>
                </span>

                <ul class="text-light list-unstyled list-inline">
                    <span class="text-warning"> Exercises:</span>

                    workout.id: <%= @workout.regiments.inspect%>
                    
<br><br>
                    <% @workout.exercise_regiments(@workout).each do |regiment| %>
                    <li class="list-inline-item"><%= regiment.exercise.name %>.</li>
                    <% end %>
                </ul>

            </span>
            <span class="text-danger d-block p-4">
                list all exercises in the workout.
                buttons add remove exercise
            </span>

            <div>
                <% if user_signed_in?%>
                    <button class="btn btn-outline-warning d-block mb-4">Add to account</button>
                <% end %>
                <%= link_to 'Back', workouts_path, class: "btn btn-outline-warning"  %>
                <a href="/workouts/<%=@workout.id %>/edit" class="btn btn-outline-warning">
                    Edit
                </a>
                <%= link_to "delete", @Customer, method: :delete, data: { confirm: "You sure?" }, class: ["btn","btn-danger", "disabled"] %>
            </div>

        </div>
    </div>
</div>