<div class="container-fluid main pb-5 mb-5">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1><%= @workout.name %></h1>

            <span class="d-block">
                <% @workout.regiments.each do |regiment| %>
                    <ul class="list-unstyled my-4 list-inline">
                        <li class="text-warning list-inline-item"><%= regiment.exercise.name %>:</li>
                        <li class="text-light list-inline-item "> Sets: <%= regiment.sets %></li>
                        <li class="text-light list-inline-item "> Reps: <%= regiment.reps %></li>
                    </ul>
                <% end %>
            </span>

            <span class="text-danger d-block p-4">
                make into grids with 3 columns 
            </span>

            <div>
                <% if user_signed_in?%>
                    <button class="btn btn-outline-warning d-block mb-4">Add to account</button>
                <% end %>
                <%= link_to 'Back', workouts_path, class: "btn btn-outline-warning"  %>
                <% if current_user.try.(:admin?)%>
                    <a href="/workouts/<%=@workout.id %>/edit" class="btn btn-outline-warning">
                        Edit
                    </a>
                    <%= link_to "delete", @Customer, method: :delete, data: { confirm: "You sure?" }, class: ["btn","btn-danger"] %>
                <% end %>
            </div>

        </div>
    </div>
</div>