<div class="card bg-dark text-light">
    <div class="card-header" id="headingThree">
        <h5 class="mb-0 text-center bg-secondary">
            <button class="btn btn-lg btn-link text-warning collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                New Workout Entry
            </button>
        </h5>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionWorkoutEntries">
            <div class="card-body">
                <ul class="list-unstyled my-4 list-inline">
                    <div class="row">
                        <li class="text-light list-inline-item col">Exercise</li>
                        <li class="text-warning list-inline-item col"> Sets</li>
                        <li class="text-warning list-inline-item col"> Reps</li>
                        <li class="text-warning list-inline-item col"> Weight</li>
                        <li class="text-warning list-inline-item col"></li>
                    </div>
                </ul>
                <span class="d-block">
                    <% @workout.regiments.each do |regiment| %>
                        <ul class="list-unstyled my-4 list-inline">
                            <div class="row">
                                <li class="text-warning list-inline-item col"><%= regiment.exercise.name %></li>
                                <li class="text-light list-inline-item col"> <%= regiment.sets %></li>
                                <li class="text-light list-inline-item col"> <%= regiment.reps %></li>
                                <li class="text-light list-inline-item col"> <%= regiment.weight %></li>
                                <li class="text-light list-inline-item col">
                                    <%= link_to 'Edit', edit_user_regiment_path(current_user, regiment),class: "btn btn-outline-warning"%>
                                </li>
                            </div>
                        </ul>
                        <hr >
                    <% end %>
                </span>
                <div style="border:2px solid red">
                    <span>Datetime form:</span>
                    <ul>
                        <li>button: start timer</li>
                        <li>button: stop timer</li>
                        <li>drop down select: start time</li>
                        <li>drop down select: stop time</li>
                    </ul>
                    <% if false %>
                        <%= form_for(@workout_entries) do |f| %>
                            <%= f.submit "Start Workout Now" %>
                        <% end %>

                        <%= form_for(@workout_entries) do |f| %>
                            <%= f.submit "Stop Workout Now" %>
                        <% end %>

                        <%= f.submit "Submit", class: "btn btn-outline-warning my-2" %>
                    <% end %>
            </div>
        </div>
    </div>
</div>
