<div class="container-fluid main pb-5 mb-5">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1><%= @log.regiment.workout.name %></h1>
            <ul class="list-unstyled my-4 list-inline">
                <div class="container ml-5">
                    <div class="row">
                        <li class="text-light list-inline-item col">Exercise</li>
                        <li class="text-warning list-inline-item col"> Weight</li>
                        <li class="text-warning list-inline-item col"> Sets</li>
                        <li class="text-warning list-inline-item col"> Reps</li>
                        <li class="text-warning list-inline-item col"></li>
                    </div>
                </div>
            </ul>
            <span class="d-block">
                <% @log.exercises.each do |exercise| %>
                    <ul class="list-unstyled my-4 list-inline">
                        <div class="container ml-5">
                            <div class="row">
                                <li class="text-warning list-inline-item col"><%= exercise.name %></li>
                                <li class="text-light list-inline-item col"> <%= @log.weight %></li>
                                <li class="text-light list-inline-item col"> <%= @log.sets %></li>
                                <li class="text-light list-inline-item col"> <%= @log.reps %></li>
                                <li class="text-light list-inline-item col">
                                    <%= link_to 'Edit', edit_user_log_path(current_user, @log),class: "btn btn-outline-warning"%>
                                </li>
                            </div>
                        </div>
                    </ul>
                    <hr >
                <% end %>
            </span>

            <div>
                <%= link_to 'Back', user_workouts_path, class: "btn btn-outline-warning"  %>                    
                <%= link_to "delete", @Customer, method: :delete, data: { confirm: "You sure?" }, class: ["btn","btn-danger"] %>
            </div>

        </div>
    </div>
</div>