<div class="container-fluid main pb-5 mb-5">
    <div class="row justify-content-center ">
        <div class="clearfix mt-2">
            <%= form_for([current_user, @regiment]) do |f| %>
            <%= f.label :sets%>
            <%= f.select :sets, (1..100) %>
            <%= f.label :reps%>
            <%= f.select :reps, (1..100) %>
            <%= f.submit "Save", {:class => "btn btn-outline-warning my-2" }%>
            <% end %>
        </div>
    </div>
</div>