<div class="card-body">
    <span class="text-warning"><%= workout_entry.created_at.strftime("%d %b %Y. %H:%M") %></span>
    <ul class="list-unstyled my-4 list-inline">
        <div class="row">
            <li class="text-light list-inline-item col"> Exercise </li>
            <li class="text-warning list-inline-item col"> Sets </li>
            <li class="text-warning list-inline-item col"> Reps </li>
            <li class="text-warning list-inline-item col"> Weight </li>
            <li class="text-warning list-inline-item col"></li>
        </div>
    </ul>
    <span class="d-block ">
        <% workout_entry.exercise_entries.each do |exercise_entry| %>
            <ul class="list-unstyled my-4 list-inline">
                <div class="row">
                    <li class="text-warning list-inline-item col"><%= exercise_entry.exercise.name %></li>
                    <li class="text-light list-inline-item col"> <%= exercise_entry.sets %></li>
                    <li class="text-light list-inline-item col"> <%= exercise_entry.reps %></li>
                    <li class="text-light list-inline-item col"> <%= exercise_entry.weight %></li>
                    
                    <li class="text-light list-inline-item col">
                        <%= link_to 'Edit', edit_user_exercise_entry_path(current_user, exercise_entry),class: "btn btn-outline-warning" %>
                    </li>
                </div>
                <li class="text-warning list-inline-item pt-4"> Comments: <span class="text-light"><%= exercise_entry.comments %></span></li>
            </ul>
            <hr >
        <% end %>
        <div class="text-center">
            <%# <%= link_to "Delete Workout Entry", user_workout_workout_entry_path(current_user, @workout), method: :delete, data: { confirm: "You sure?" }, class: ["btn","btn-danger"] %>
        </div>
    </span>
</div>
    