<div class="container-fluid main pb-5 mb-5">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1 class="text-light">Edit <%= @workout.name %></h1>

            <%= form_for([current_user, @workout]) do |f| %>
            <div class="form-group">
                <%= render 'shared/error_messages', :@profile => @workout %>

                <div class="exercise_set">
                    <div class="exercise_set_item_container my-4" >
                        <%= render 'regiment_fields', f: f, exercises: :exercises %>
                    </div>
                </div>

                <%= link_to 'Back', workouts_path, class: "btn btn-outline-warning" %>
                <%= f.submit "Save", {:class => "btn btn-outline-warning my-2" }%>
                <% end %>
            </div>
        </div>
    </div>
</div>