<div class="container-fluid main">
    <div class="row justify-content-center ">
        <div class="col-sm-10 devise-form rounded bg-dark text-warning">
            <h1 class="text-light">Add Exercise</h1>

            <%= form_for(@exercise) do |f| %>
            <div class="form-group">
                <%= render 'shared/error_messages', :@profile => @exercise %>

                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class: 'form-control'%>

                <div class="muscle_set">
                    <div class="muscle_set_item_container my-4" >
                        <div class="muscle_set_item bg-secondary rounded" >
                            <%= f.label :muscle %>
                            <%= f.select :muscles, Muscle.all.collect{|muscle|[muscle.name, muscle.id]}, {}, {:class => 'form-control'}%>

                            <div>
                                <%= f.fields_for :intentions do |intention| %>                    
                                    <%= intention.check_box :primary_muscle %>
                                    <%= intention.label :primary_muscle %>
                                <% end %>
                                <%= link_to 'delete', '#', id: 'remove_muscle', class: 'btn btn-danger' %>            
                            </div>
                            
                        </div>
                    </div>
                </div>

                <span class=" d-block my-2">
                    <%= link_to 'Add Muscle', '#', id: 'add_muscle', class: 'btn btn-warning' %>
                </span>

                <%= f.label :comments %>
                <%= f.text_field :comments, autofocus: true, class: 'form-control'%>

                <%= f.submit "Create exercise", class: "btn btn-warning my-2" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    bind_add_muscle_item();    
</script>