<div class="container-fluid main">
  <div class="row justify-content-center ">
    <div class="col-sm-10 devise-form rounded bg-dark text-warning">
      <h1>Exercise</h1>
      <span class="d-block">
        Name:
        <span class="text-light">
          <%= @exercise.name %>
        </span>
      </span>
      <span class="d-block">
        Comments:
        <span class="text-light">
          <%= @exercise.comments %>
        </span>

        <ul class="text-light list-unstyled list-inline">
          <span class="text-warning"> primary muscles:</span>
          <% @exercise.muscle_intentions(:primary).each do |intention| %>
            <li class="list-inline-item"><%= intention.muscle.name %>.</li>
          <% end %>
          <br />
          <span class="text-warning"> secondary muscles:</span>
          <% @exercise.muscle_intentions(:secondary).each do |intention| %>
            <li class="list-inline-item"><%= intention.muscle.name %>.</li>
          <% end %>
        </ul>
      </span>

       <div>
        <%= link_to 'Back', exercises_path, class: "btn btn-outline-warning"  %>
        <a href="/exercises/<%=@exercise.id %>/edit" class="btn btn-outline-warning">
            Edit
        </a>
        <%= link_to "delete", @Customer, method: :delete, data: { confirm: "You sure?" }, class: ["btn","btn-danger", "disabled"] %>
      </div>

    </div>
  </div>
</div>
