<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top px-5">
  <%= link_to ('<i class="fas fa-dumbbell text-warning fa-2x navbar-brand"> Kaizen Liftz</i>').html_safe, root_path %>
  <div class="ml-auto">
    <% if user_signed_in? %>
        <div class="btn-group">
            <div class="dropdown mr-4">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown">
                    My Account
                </button>
                <div class="dropdown-menu bg-light dropdown-menu-right text-right" >
                    <%= link_to "My Workouts", user_workouts_path(current_user), class:"text-dark text-capitalize d-block pr-4" %>
                    <%= link_to "My Settings", edit_user_registration_path, class:"text-dark text-capitalize d-block pr-4" %>
                </div>
            </div>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-outline-light text-capitalize" %>
        </div>
        
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-light text-capitalize" %>
        <%= link_to "Sign In", new_user_session_path, class:"btn btn-outline-light text-capitalize" %>
    <% end %>
  </div>
</nav>